.muenu-principal {
  background: #4A1725;
}

.btn-primary {
  color: #fff;
  background-color: rgba(74, 23, 37, 1);
  border-color: rgba(74, 23, 37, 1);
}

.btn-primary:hover {
  background-color: rgba(190, 182, 184, 0.3);
}

.app-container {
  height: 100%;
  width: 100%;
  min-height: calc(90vh - 32px);
}
