
   <!--  <mat-toolbar class="muenu-principal">
      <button mat-raised-button class="btn btn-primary" [matMenuTriggerFor]="menu">Blogs</button>
      <mat-menu #menu="matMenu" >
          <button mat-menu-item (click)="local()">Locales</button>
          <button mat-menu-item (click)="remoto()">Remotos</button>
          <button mat-menu-item (click)="remoto1()">Remotos-Servicio-Local</button>
      </mat-menu>
  </mat-toolbar> -->
  <app-header>

  </app-header>
  <mat-drawer-container class="app-container">
    <mat-drawer mode="side" opened>
      <app-sidebar>
      </app-sidebar>
    </mat-drawer>
    <mat-drawer-content><ng-content></ng-content></mat-drawer-content>
  </mat-drawer-container>
  <app-footer>

  </app-footer>
