.mat-elevation-z8.table-index
  overflow-x: auto

.mat-elevation-z8.table-index table
  min-width: 800px
  width: 100%;

.mat-table.list-item .mat-row:hover
  cursor: pointer

.row
  margin: 15px;

h2.mat-dialog-title
  margin: -24px -24px 24px -24px !important;
  padding: 10px 24px;
  background: rgba(153, 36, 39, .1);
  cursor: move;
  color: #A13191 !important

h2.mat-dialog-title span.titulo
  bottom: 7px;
  left: 10px;
  max-width: 100%

h2.mat-dialog-title div
  max-width: 100%
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

.example-fill-remaining-space
  flex: 1 1 auto;

.mat-dialog-actions
  margin-bottom: -15px !important

.mat-form-field:not(.mat-paginator-page-size-select)
  font-size: 14px;
  width: 100%;
